@import './css/Colors.css';

article.device {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  min-width: 340px;
  max-width: 600px;

  border-radius: 20px;
  padding: 32px;

  color: #555;
  background: linear-gradient(30deg, var(--metal1), var(--metal4));

  > div:first-of-type {
    flex-grow: 1;
  }
}

output {
  color: var(--tint2);
}

.d1 {background: radial-gradient(var(--tint1), #cf6161);}

.d2 {
  border: 1px solid var(--tint1);
  background: hsl(234deg 62% 33% /0.12);
}

.gripper {
  span {
    border-top-color: #afa8a8;
    border-bottom-color: #fff;
  }
}